<div class="container projects-container">
  <h3>{{ site.projects_title | default: "Research Experience" }}</h3>
  {% for project in site.data.projects %}
    {% increment carousel_number %}
    {{ if carousel_number == 0 }}
       {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
       {% include carousel1.html height="70" unit="%" duration="1000" %}
    {% endif %}
    {% if carousel_number == 1 %}
       {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
       {% include carousel2.html height="70" unit="%" duration="1000" %}
    {% endif %}
  {% endfor %}
</div>
